html {
  scroll-behavior: smooth !important;
}

.mainContainer {
  overflow: hidden;
}

.title {
  font-size: 30pt;
  color: white;
  font-family: 'robot', sans-serif;
}

.country {
  color: orange;
  font-size: 28pt;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  padding-right: 20px;
  text-decoration: underline;
}

.crime {
  color: white;
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 20px;
}

.source {
  color: white;
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 20px;
  line-height: 50pt;
}

.external_link {
  color: white !important;
  font-size: 14pt;
  text-decoration: none;
  padding-left: 80px;
  line-height: 30pt;
  /* opacity: 80%; */
}

a:hover {
  color: orange !important;
  /* opacity: 60%; */
  transition: .2s ease;
  text-decoration: underline;
}
